<article class="product-item" data-id="{{ id }}" {{ attributes }} data-controller="product">
    <header>
        {{ title }}
    </header>
    <div class="product-item-content">
        <div class="product-item-image">
            <img src="{{ pictureUrl }}" alt="">
        </div>
        <div>
            <div class="product-item-price">
                <b>Price: {{ price }}€</b>
            </div>
            <div class="product-item-description">
                {{ description }}
            </div>
        </div>
    </div>
    <footer>
        <twig:Product:AddItemToCartButton productId="{{ id }}" />
    </footer>
</article>
